<main>
    <div class="card">
        <img class="card-img-top" scr="https://picsum.photos/400/200" alt="Product photo">
        <div class="card-body">
            <h5 class="card-title">Product #16433</h5>
            <p>USB hab Type C 12 in 1 HDMI VGA AUX 3.5 mm</p>
            <a href="#" class="btn btn-primary">Open</a>
        </div>
    </div>
</main>