{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<main>
    <div class="row">
        <div class="card">
            <div class="card-item mt-3 mb-3">
                <b>Кабаков Ілля</b>
                <b class="float-end">Resume project</b>
            </div>
        </div>


        <h2 class="pt-5">Список сторінок</h2>
        <div>Інформація про проєкт...</div>

        <section class="col-12">
            <div class="row">

                <div class="col-3">
                    <div class="pt-5">
                        <a href="/bio"><button class="btn btn-primary">Bio</button></a>
                    </div>

                    <div class="pt-3">
                        <a href="/bootstrap"><button class="btn btn-primary">Bootstrap</button></a>
                    </div>

                    <div class="pt-3">
                        <a href="/bootstrap1"><button class="btn btn-primary">Bootstrap1</button></a>
                    </div>

                    <div class="pt-3">
                        <a href="/bootstrap2"><button class="btn btn-primary">Bootstrap2</button></a>
                    </div>

                    <div class="pt-3">
                        <a href="/bootstrap3"><button class="btn btn-primary">Bootstrap3</button></a>
                    </div>

                    <div class="pt-3">
                        <a href="/bootstrap4"><button class="btn btn-primary">Bootstrap4</button></a>
                    </div>

                    <div class="pt-3">
                        <a href="/bootstrapOld"><button class="btn btn-primary">BootstrapOld</button></a>
                    </div>
                </div>

                <div class="col-3">
                    <div class="pt-5">
                        <a href="/car"><button class="btn btn-primary">Car</button></a>
                    </div>

                    <div class="pt-3">
                        <a href="/education"><button class="btn btn-primary">Education</button></a>
                    </div>

                    <div class="pt-3">
                        <a href="/error"><button class="btn btn-primary">Error</button></a>
                    </div>

                    <div class="pt-3">
                        <a href="/facebook"><button class="btn btn-primary">Facebook</button></a>
                    </div>

                    <div class="pt-3">
                        <a href="/js"><button class="btn btn-primary">JS</button></a>
                    </div>

                    <div class="pt-3">
                        <a href="/mac"><button class="btn btn-primary">Mac</button></a>
                    </div>

                    <div class="pt-3">
                        <a href="/person"><button class="btn btn-primary">Person</button></a>
                    </div>
                </div>

                <div class="col-3">
                    <div class="pt-5">
                        <a href="/program"><button class="btn btn-primary">Program</button></a>
                    </div>

                    <div class="pt-3">
                        <a href="/shopcart"><button class="btn btn-primary">Shopcart</button></a>
                    </div>

                    <div class="pt-3">
                        <a href="/shopcatalog"><button class="btn btn-primary">Shopcatalog</button></a>
                    </div>

                    <div class="pt-3">
                        <a href="/shophome"><button class="btn btn-primary">Shophome</button></a>
                    </div>

                    <div class="pt-3">
                        <a href="/shoporder"><button class="btn btn-primary">Shoporder</button></a>
                    </div>

                    <div class="pt-3">
                        <a href="/shopprofile"><button class="btn btn-primary">Shopprofile</button></a>
                    </div>

                    <div class="pt-3">
                        <a href="/shopreview"><button class="btn btn-primary">Shopreview</button></a>
                    </div>
                </div>

                <div class="col-3">
                    <div class="pt-5">
                        <a href="/skills"><button class="btn btn-primary">Skills</button></a>
                    </div>

                    <div class="pt-3">
                        <a href="/summary"><button class="btn btn-primary">Summary</button></a>
                    </div>

                    <div class="pt-3">
                        <a href="/task21"><button class="btn btn-primary">Task21</button></a>
                    </div>

                    <div class="pt-3">
                        <a href="/task22"><button class="btn btn-primary">Task22</button></a>
                    </div>

                    <div class="pt-3">
                        <a href="/task31"><button class="btn btn-primary">Task31</button></a>
                    </div>

                    <div class="pt-3">
                        <a href="/web"><button class="btn btn-primary">Web</button></a>
                    </div>

                    <div class="pt-3">
                        <a href="/work"><button class="btn btn-primary">Work</button></a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}